body {
	font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 991px) {
    .icon-image {
		display: block;
    	margin-left: auto;
		margin-right: auto;
	}

	.name {
		text-align: center;
	}

	.subtitle {
		text-align: center;
	}
}

.icon-image {
	display: block;
	padding: 10px;
	border-radius: 50%;
	max-width: 150px;
}

.name {
	font-family: 'Bellefair', serif;
	font-size: 40px;
	margin-top: 30px;
}

.subtitle {
	margin-top: 10px;
}

hr {
    border: none;
    margin-top: 5px;
    height: 2px;
    background-color: #616161; /* Modern Browsers */
}

.main-color {
	color: #6A1B9A;
}

.sub-color {
	color: #757575;	
}

.italics {
	font-style: italic;
}

.image-margin {
	padding-top: 10px;
}

#map {
    display: block;
    height: 550px;
    width: 940px;
}